.wblog{
	width: 100%;
	height: 900px;
	background: url(../img/editorBg.jpg);
}

.wblogn{
	float: right;
	width: 90%;
}
.titlestyle{
  box-sizing: border-box;
  text-align:center;
  font-size:1.4em;
  height:2em;
  border-radius:4px;
  border:1px solid #c8cccf;
  /* color:#6a6f77; */
  color:black;
  -web-kit-appearance:none;
  -moz-appearance: none;
  display:block;
  outline:0;
  padding:0 1em;
  text-decoration:none;
  width:87%;
}
.blogTitle{
	float: left;
	padding-top: 30px;
	width:89%;
}
.editor{
	float: left;
	width:89%;
	padding-top: 30px;
}
.sort{
	float: left;
	width: 90%;
}
.shortselect{  
    background:#fafdfe;  
    height:28px;  
    width:180px;  
    line-height:28px;  
    border:1px solid #9bc0dd;  
    -moz-border-radius:2px;  
    -webkit-border-radius:2px;  
    border-radius:2px;  
} 
.saveButton{
	float: left;
	width: 89%;
}
.saveButton-button { /* 按钮美化 */
	float: right;
	width: 70px;
	height: 30px;
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF;
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
}
.saveButton-button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}



